@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fonts */
@font-face {
	font-family: "Chanticleer Regular";
	src: url("../public/fonts/ChanticleerRomanNF.ttf") format('truetype');
}

@font-face {
	font-family: "Chanticleer Bold";
	src: url("../public/fonts/ChanticleerRomanNF-Bold.ttf") format('truetype');
}

@font-face {
	font-family: "Roman Regular";
	src: url("../public/fonts/Roman SD.ttf") format('truetype');
}
